html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.country-name {   /* for react phone input */
  color: black
}

@media   (max-width: 1024px) {
.gmnoprint:first-child{
    padding-left: 50px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #e8e8e8 !important;
}
